{% extends 'common/base.html' %}
{% load i18n l10n %}
{% load crispy_forms_tags %}
{% load django_tables2 %}

{% block content %}
  <h1 class="mt-5 mb-4"> {{ view.header }} </h1>
  <div class="table-container">
    <form method="get">
      <div class="card">
        <div class="card-body">
          <div class="row g-3">
            {% for field in filter.form %}
            <div class="col-2">
              {{ field|as_crispy_field }}
            </div>
            {% endfor %}
          </div>
          <div class="row g-3">
            <div class="col-2">
              <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Submit"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    {% render_table table %}
  </div>

  {% for button in view.get_links %}
    {{ button }}
  {% endfor %}
{% endblock %}
